header {
  /* background-color: #2e2e2e; */
  background: rgb(27, 29, 28);
  background: linear-gradient(
    90deg,
    rgba(27, 29, 28, 1) 0%,
    rgba(33, 34, 33, 1) 10%,
    rgba(46, 46, 46, 1) 40%,
    rgba(46, 46, 46, 1) 60%,
    rgba(33, 34, 33, 1) 90%,
    rgba(27, 29, 28, 1) 100%
  );
  color: white;
}

h1 {
  font-size: 65px !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolio-photo {
  border: 4px solid white;
  width: 250px;
  margin-top: 20px;
}
.social {
  margin-left: 2rem;
}
.thumb {
  width: 60px;
  padding-left: 0.5%;
  padding-bottom: 10px;
}

.github-card {
  width: 100%;
  background-color: #f4f4f4;
  color: black;
  padding: 5px;
  margin: 1%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
}

/* .github-card:hover {
    background-color: #d3d3d3;
} */

.jaku-container {
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 10%;
  background-color: #1b1d1c;
  color: white;
}

.section {
  padding: 30px;
  width: 100%;
  height: 20px;
  border-bottom: 2px solid white;
  text-align: center;
}

.section-title {
  font-size: 42px;
  background-color: #1b1d1c;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5%;
}
.content-container {
  padding-bottom: 6%;
}
.horizontal-divide {
  background-color: white;
  height: 5px;
  width: auto;
}
